@import url("https://use.typekit.net/uml3hli.css");


body 
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    background: #F8F8F8;
    font-family: roboto, sans-serif;

h1 
    margin: 0px;

#app 
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;

.right-button 
    background: #006fff;
    color: #fff;
    border: 0px;
    padding: 15px;
    outline: 0px;
    border-radius: 10px;
    max-width: 100px;
    float: right;
    justify-self: end;
    width: 100%;
    cursor: pointer;
    &:hover 
        transition: .2s;
        background: #0047A4;

input 
    outline: 0px;
    height: 30px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 10px;