video {
    width: 300px;
}

.room-container
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px;

.chat-section
    max-height: 90vh;
    overflow-y: scroll;